.container-manager-room table, th, td {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    font-size: 14px;
}
.container-room {
    margin-bottom: 20px;
    
}
.container-room .card {
    position: relative;
}
.container-room .card .card-wattage{
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius: 5px 0px 0px 0px;
    min-width: 50px;
    display: flex;
    align-items: center;
}
.container-room__body{
    padding: 5px 10px;
}
.container-room__body .top {
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: space-between;

}
.container-room__body .top h5 {
    font-weight: 600;
}
.container-room__body .users {
    height: 40px;
    margin-top: 10px;
}
.container-room__body .users li{
    width: 25px;
}
.container-room__body .users li img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border: 1px solid white;

}
.container-room__body .top p {
    font-size: 12px;
    vertical-align: bottom;
    line-height: 16px;
    color: gray;
}
.card-img{
    height: 150px;
    object-fit: cover;
}
.container__editroom{
    width: 400px;
}