.container-pagination{
    display: flex;
}
.container-pagination .item-pagination {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    margin: 0px 4px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
    font-size: 15px;
}
.container-pagination .item-pagination.acitve{
    color: white;
    border: 2px solid black;
}
.container-pagination .item-pagination:hover {
    background-color: #e1e1e1;
}