.containerManageAppliance__header {
 height: 200px;
}
.containerManageAppliance__header .background-image {
    background-repeat:no-repeat;
    background-position: center center;
    color:#FFF;
    flex: 1;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 4px;
}
.containerManageAppliance__header .item .content {
    border : 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    height: 100%;
    margin-right: 10px;
    background-color: var(--yellow-color);
}

.containerManageAppliance__header .content .users li {
    width: 20px;
}
.containerManageAppliance__header .content .users li  img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 1px solid white;
}
