.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('../../assets/images/hinhanh.jpg');
    height: 100vh;
  
}

 .container-login .signup-form h2 {
    color: #636363;
    margin: 0 0 10px;
    position: relative;
    text-align: center;
  }
  .container-login .signup-form .form {
    color: #999;
    max-width: 600px;
    border-radius: 3px;
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
  }
  .container-login .signup-form .form-item__error{
    height: 20px;
    display: flex;
  }
  .container-login .signup-form .form-item__error p{
    height: 100%;
    font-size: 12px;
    color: #f56c6c;
    margin: 0px;
  }
  .container-login .signup-form .message-error{
    font-size: 13px;
    color: #f56c6c;
    padding: 10px;
    border-radius: 5px;
    background-color: #FEF0F0;
    margin-bottom: 15px;
  }
  .container-login .signup-form .message-success{
    font-size: 13px;
    background-color: #f0f9eb;
    color: #67c23a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .container-login .signup-form input[type="checkbox"] {
    margin-top: 3px;
  }
  .container-login .signup-form input{
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    /* font-size: 15px; */
  }
  .container-login .signup-form input:focus {
    outline: none !important;
}

  .container-login .text-login{
    color:var(--primary-color);
    font-weight: 500;
    font-size: 15px;
  }
  .container-login .signup-form .btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--primary-color);
    min-width: 350px;
    border: none;
    outline: none !important;
  }
  