.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: none;
    background-size: contain;
    background-image: url('../../assets/images/hinhanh.jpg');
    height: 100vh;
}

 .container-login .signup-form h2 {
    color: #636363;
    margin: 0 0 10px;
    position: relative;
    text-align: center;
  }
  .container-login .signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .container-login .signup-form .form-group {
    margin-bottom: 10px;
  }
  .container-login .signup-form input[type="checkbox"] {
    margin-top: 3px;
  }
  .container-login .signup-form input{
    outline: none !important;

  }
  .container-login .text-login{
    color: 
    #ff4a00;
  }
  .container-login .signup-form .btn {
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #ff4a00;
    min-width: 350px;
    border: none;
    outline: none !important;
  }
  