.active {
    background-color: var(--primary-color);
    width: 100%;
}
.navbarleft-container li {
    padding: 20px;
    width: 100%;
    cursor: pointer;
}
.navbarleft-container {
    position: fixed;
}

.navbarleft-container li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbarleft-container li a {
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}