.active {
    background-color: var(--primary-color);
    width: 100%;
}
.navbarleft-container {
    padding-top: 60px;
}
.navbarleft-container .link-item {
    display: flex;
    color: white;
    width: 100%;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    transition: all ease 0.3s;
}
.navbarleft-container .link-item:hover {
    transition: all ease 0.3s;
    background: var(--yellow-color);
    color: black;
}

.navbar-left-name {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
}
.navbarleft-container {
    position: fixed;
}

