.detail-speedmetter tbody tr, th, td {
    font-size: 14px !important;
}
.table-home tr td{
    border: none
}
.table-home{
   width: 100%;
}

.table-home tr:not(:last-child){
    border-bottom: 1px solid #e1e1e1;
}
.table-home td:last-child{
    padding: 8px 0;
    text-align: end;
}
.live-chart::after{
    content: "LIVE";
    background-color: #FF3051;
    color: white;
    padding: 0px 10px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 8px;
}
