
.container__appliance-detail .header .description {
    padding: 0 10px;
}
.container__appliance-detail .header .description ul li {
  min-height: 30px; 
}
.description-appliance {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: gray;
    line-height: 1.5rem;
    height: 4.5rem;
}
.table-consumption tr td{
  border: none
}
.table-consumption tr:not(:last-child){
  border-bottom: 1px solid #e1e1e1;
}
